/* fonts */
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  /*300,400,700,800,900*/
}
@font-face {
  font-family: "Suez One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suezone/v13/taiJGmd_EZ6rqscQgOFOmos.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
img {
  border: 0;
}
body {
  font-family: "NanumSquareNeo-Variable";
}

/* 레이아웃 */
.container {
  width: 100%;
  height: auto;
  background-color: #ddd;
}
.wrap {
  width: 100%;
}
.inner {
  margin: 0 auto;
  width: 1180px;
}
/* header */

#header {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 16px;
  background-color: #fbfbf6;
}
#header #logo {
  width: 20%;
  color: #517e69;
  line-height: 32px;
  font-family: "Suez One";
  background-color: saddlebrown;
}
#header #menu {
  display: flex;
  width: 30%;
  color: #fff;
  background-color: darkgoldenrod;
}
#search_bar {
  width: 30%;
  background-color: darkkhaki;
}
#icons {
  width: 20%;
  background-color: darksalmon;
}

/* slider */
.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;

  /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 300px;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% -16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.slide_item.item1 {
  background-color: darkgoldenrod;
}
.slide_item.item2 {
  background-color: aqua;
}
.slide_item.item3 {
  background-color: blueviolet;
}
.slide_item.item4 {
  background-color: burlywood;
}
.slide_item.item5 {
  background-color: cornflowerblue;
}

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #7fb5ff;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}

/* card list 01 */
.list_01 {
  margin-bottom: 120px;
  background-color: pink;
}
.list_01 .list_title {
  padding-bottom: 20px;
}
.list_01 .filter {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  background-color: green;
}
.card_list {
  display: flex;
  width: 100%;
  background-color: darkblue;
}
.card {
  width: 372px;
  margin-right: 35px;
}
.card:last-of-type {
  margin-right: 0;
}

.card .img_box {
  position: relative;
  height: 210px;
  border-radius: 10px 10px 0 0;
  background-color: darkgoldenrod;
}
.card .img_box .icon_like {
  position: absolute;
  right: 0;
  padding: 16px;
}
.card .text_box {
  background-color: salmon;
}
.card .text_box .card_list_title {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.25px;

  padding-top: 20px;
}
.card .text_box .card_list_detail {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.25px;

  padding-top: 16px;
}
.card .text_box .price_box {
  display: flex;
  align-items: center;
}
.price_box {
  position: relative;
  padding-top: 14px;
}
.price_box .price_title span {
  color: orange;
}
.price_box .price_detail {
  color: #888;
  font-size: 14px;
  font-weight: 700;
  padding-left: 8px;
}
.price_day_box {
  padding: 6px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  right: 0;
}
.price_day_box .price_day_text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

.swipe {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.swipe img {
  padding-right: 8px;
}

/* card list 02 */

.list_02 {
  margin-bottom: 120px;
  background-color: pink;
}
.list_02 .list_title {
  padding-bottom: 20px;
}
.list_02 .filter {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  background-color: green;
}

.list_02 .btn_box {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-top: 16px;
  border: 1px solid orange;
  background-color: #fff;
}

.list_02 .btn_box .btn_title {
  color: orange;
  font-size: 14px;
  letter-spacing: -0.25px;
  line-height: 26px;
  padding-left: 8px;
}
/* middle banner */
.middle_banner.wrap {
  display: flex;
  margin-bottom: 120px;
  background-color: #517e69;
}

#middle_banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px 0;
  background-color: #fff;
}
#middle_banner #text_box {
  width: 40%;
  background-color: #ddd;
}
#middle_banner #text_box #banner_title {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  text-transform: uppercase;
}

#middle_banner #text_box #banner_btn {
  margin-top: 40px;
  display: inline-block;
  background-color: orange;
  padding: 16px 20px;
  border-radius: 10px;
}

#banner_btn #banner_btn_text {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
}

#middle_banner #img_box {
  width: 575px;
  height: 324px;
  background-color: #222;
}

/* card list 03 */
.list_03 {
  margin-bottom: 120px;
  background-color: pink;
}
.list_title {
  padding-bottom: 40px;
}
.link_box {
  margin-top: 16px;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
}
.link_box #link_btn {
  font-size: 14px;
  font-weight: 900;
  line-height: 22px;
}
/* question */

.question {
  width: 100%;
  margin-bottom: 120px;
  background-color: sienna;
}
.question .inner #question_list .question_cont {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  background-color: #fff;
}
.question .inner #question_list .question_cont .question_text {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  text-align: center;
}
.question .inner #question_list .question_cont .question_icon {
  cursor: pointer;
}
.notice {
  width: 100%;
  background-color: sienna;
}
.notice_list {
  display: flex;
  width: 100%;
  margin-bottom: 120px;
  background-color: cornflowerblue;
}
.notice_cont {
  width: 372px;
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;
  margin-right: 35px;
}
.notice_cont:last-of-type {
  margin-right: 0;
}
.notice .notice_cont_title {
  margin: 16px 0;
}
/* footer */
.footer {
  width: 100%;
  background-color: #222233;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .inner {
  position: relative;
  display: flex;
  padding-top: 40px;
  padding-bottom: 100px;
}
.footer .inner #footer_menu {
  display: flex;
  margin-left: 80px;
}
.footer .inner #footer_menu .footer_menu_list {
  padding-right: 80px;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.25;
  line-height: 36px;
}
.application_wrap {
  position: absolute;
  right: 0;
  display: flex;
}
.application_wrap .application_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 8px;
}
.application_wrap .application_box .app_img {
  margin-right: 8px;
}
.application_wrap .application_box .app_title {
  color: #fff;
}
.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}
.copyright .copyright_title {
  width: 1180px;
  margin: 0 auto;

  color: #ddd;
  font-size: 14px;
  font-weight: 300;
}
