/* fonts */
@import url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css");
/*300,400,700,800,900*/

@font-face {
  font-family: "Suez One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suezone/v13/taiJGmd_EZ6rqscQgOFOmos.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.Suez_One {
  font-family: "Suez One";
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
img {
  border: 0;
}
body {
  font-family: "NanumSquareNeo";
}

/* 레이아웃 */
.container {
  position: relative;
  width: 100%;
  height: auto;
}
.wrap {
  width: 100%;
}
.inner {
  margin: 0 auto;
  width: 1180px;
}
/* header */
.header {
  position: absolute;
  top: 0;
  background-color: #fbfbf6;
  border-bottom: 1px solid #ddd;
}
#header {
  display: flex;
  padding-bottom: 16px;
}
#header .logo {
  color: #517e69;
  line-height: 32px;
  font-family: "Suez One";
  margin-right: 24px;
}
#header .menu {
  display: flex;

  color: #9d9d9d;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  align-items: center;
  margin-right: 40px;
}

#header .menu .menu_list {
  padding-right: 24px;
}
#header .menu .menu_list:last-of-type {
  padding-right: 0;
}

#search_wrap {
  margin-right: 24px;
}
#search_wrap #search_bar {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #e9e9e9;
}
#search_wrap #search_bar .search_term {
  width: 320px;
  height: 38px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0 16px;

  color: #888;
  font-size: 14px;
  font-weight: 400;
  background-color: #e9e9e9;
}
#search_wrap #search_bar .search_btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 16px;
  padding-top: 4px;
}

.auth_wrap {
  display: flex;
}
.auth_wrap #project_btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  padding: 12px 20px;
  margin-right: 24px;
  background-color: #ff7d1f;
}
.auth_wrap #icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.auth_wrap #icons i {
  padding-right: 24px;
}
.auth_wrap #icons i:last-of-type {
  padding-right: 0;
}
.auth_wrap #icons #icon_my {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #cacaca;
  border-radius: 10px;
}

/* 카드 공통 */
.card_list {
  display: flex;
  width: 100%;
  margin: 116px 0 40px 0;
}
#card_list_01,
#card_list_02 {
  display: flex;
  margin-bottom: 80px;
}

.list_title {
  font-weight: 700;
}
.list_title span {
  font-weight: 900;
  color: #ff7d1f;
}
.list_title {
  margin-bottom: 40px;
  color: #222233;
  font-size: 28px;
  font-weight: 800;
}
.card {
  width: 372px;
  margin-right: 35px;
}
.card:last-of-type {
  margin-right: 0;
}
/* card img */
.card .img_box {
  position: relative;
  height: 210px;
  border-radius: 10px 10px 0 0;
  background-color: #ddd;
  cursor: pointer;
}
/* like */
.card .img_box .icon_like {
  position: absolute;
  right: 0;
  padding: 16px;
  cursor: pointer;
}

/* card list text box */
.card .text_box {
  background-color: #fff;
}
.card .text_box .card_list_title {
  color: #222233;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.25px;
  padding-top: 20px;
  cursor: pointer;
}
.card .text_box .card_list_detail {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;

  padding: 16px 0;
}
/* price box */
.card .text_box .price_box {
  position: relative;
  display: flex;
  align-items: center;
}
.price_box .price_title {
  font-weight: 700;
}
.price_box .price_title span {
  font-weight: 900;
  color: #ff7d1f;
}
.price_box .price_detail {
  color: #888;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.25px;
  padding-left: 8px;
}
.price_day_box {
  padding: 6px;
  border-radius: 6px;
  background-color: #ff7d1f;
  position: absolute;
  right: 0;
}
.price_day_box .price_day_text {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
}
/* link */
.link_box {
  display: inline-block;
  border-bottom: 1px solid #222233;
  padding-bottom: 2px;
}
.link_box .link_btn {
  display: flex;
}
.link_btn .link_title {
  color: #222233;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.25px;
  padding-right: 4px;
}
/* list swipe */
.list_swipe {
  display: flex;
  justify-content: center;
  margin: 40px 0 120px 0;
  cursor: pointer;
}
.list_swipe img {
  padding-right: 8px;
}
.list_swipe img:last-of-type {
  padding-right: 0;
}

/* card list 02 */
.btn_box {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-top: 16px;
  border: 1px solid #ff7d1f;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.btn_title {
  color: #ff7d1f;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.25px;
  line-height: 26px;
  margin-left: 8px;
}

/* footer */
.footer {
  background-color: #222233;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#footer_logo {
  color: #fff;
}
.footer .inner {
  position: relative;
  display: flex;
  padding: 80px 0 120px 0;
}
#footer_menu {
  display: flex;
  margin-left: 120px;
}
#footer_menu .footer_menu_list {
  padding-right: 80px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.25;
  line-height: 36px;
}
.application_wrap {
  position: absolute;
  right: 0;
  display: flex;
}
.application_wrap .application_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 8px;
}
.application_wrap .application_box .app_img {
  margin-right: 8px;
}
.application_wrap .application_box .app_title {
  color: #fff;
}
.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}
.copyright .copyright_title {
  width: 1180px;
  margin: 0 auto;
  text-align: center;

  color: #ddd;
  font-size: 14px;
  font-weight: 300;
}
